<!DOCTYPE html>

<html class=" js csstransforms3d"><head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>随机视频</title>
	<link rel="stylesheet" href="/static/css/base.css">
	<link rel="stylesheet" href="/static/css/page.css">

	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/main.js"></script>
	<script type="text/javascript" src="/static/js/modernizr.js"></script>

</head>

<body style="background: #f6f5fa;">


	<div class="super-content">
		<div class="superCtab">
			<div class="ctab-title clearfix"><h3>随机视频</h3></div>
        </div>
    </div>

            <div align="center" style="background: #ffffff">
                <iframe src="https://player.bilibili.com/player.html?aid={{ aid }}&danmaku=0&page=1&high_quality=1"
                         frameborder="0" allowfullscreen="true"
                         width="1075" height="740">
                </iframe>



            </div>



</body>
</html>