<!DOCTYPE html>
<html class=" js csstransforms3d">

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>文章发布</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/page.css">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script type="text/javascript" src="/static/js/modernizr.js"></script>
</head>

<body style="background: #f6f5fa;">

<!--content S-->
<div class="super-content RightMain" id="RightMain">

    <!--header-->
    <div class="superCtab">
        <div class="ctab-title clearfix"><h3>文章列表</h3>
        </div>

        <div class="ctab-Main">
            <div class="ctab-Main-title">
                <ul class="clearfix">
                    <li class="cur"><a href="/python/">Python</a></li>
                    <li><a href="/java/">Java</a></li>
                    <li><a href="/web/">前端</a></li>
                    <li><a href="/db/">数据库</a></li>
                    <li><a href="/game/">游戏开发</a></li>
                    <li><a href="/mobile/">移动开发</a></li>
                </ul>
            </div>

            <div class="ctab-Mian-cont">
                <div class="Mian-cont-btn clearfix">
                    <div class="operateBtn">
                        <a href="/release/" class="greenbtn publish">发布文章</a>

                    </div>
                    <div class="searchBar">
                        <form method="post">
                            {% csrf_token %}
                            <input name='search_article' type="text" id="" value="" class="form-control srhTxt"
                                   placeholder="输入标题关键字搜索">
                            <button><input type="button" class="srhBtn" value=""></button>
                        </form>
                    </div>
                </div>
                <div class="super-label clearfix">

                    <a href="#">行业新闻<em style="display: none;"></em></a>
                    <a href="#">技术分享<em style="display: none;"></em></a>
                    <a href="#">面试经验<em style="display: none;"></em></a>

                </div>

                <div class="Mian-cont-wrap">
                    <div class="defaultTab-T">
                        <table border="0" cellspacing="0" cellpadding="0" class="defaultTable">
                            <tbody>
                            <tr>
                                <th class="t_1">原作者</th>
                                <th class="t_2">文章标题</th>
                                <th class="t_3">发布时间</th>
                                <th class="t_4">操作</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <table border="0" cellspacing="0" cellpadding="0" class="defaultTable defaultTable2">
                        <tbody>
                        {% for article in all_article %}
                            <tr>
                                <td class="t_1">{{ article.author }}</td>
                                <td class="t_2">
                                    <a href="{{ article.url }}" target="_blank">{{ article.title }}</a>
                                </td>
                                <td class="t_3">{{ article.release_time }}</td>
                                <td class="t_4">

                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="btn">

                                            <button name='give_like'
                                                    value="{{ article.title }}"
                                                    class="delete">
                                                点赞{{ article.like }}
                                            </button>
                                            <a href="#" class="modify">修改</a>
                                            <button name='delete_article' value="{{ article.title }}">删除</button>
                                        </div>
                                    </form>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>


                    <div class="pageSelect">
                        <span>共 <b>{{ count_article }}</b> 条 每页 <b>10 </b>条   {{ now_page }}/{{ count_page }}</span>
                        <div class="pageWrap">
                            <a class="pagePre"><i class="ico-pre">&nbsp;</i></a>
                            <a href="#" class="pagenumb cur">1</a>
                            <a href="#" class="pagenumb">2</a>
                            <a href="#" class="pagenumb">3</a>
                            <a href="#" class="pagenext"><i class="ico-next">&nbsp;</i></a>
                        </div>
                    </div>
                    <!--pages E-->
                </div>

            </div>
        </div>
    </div>
    <!--main-->

</div>
<!--content E-->


<div class="layuiBg"></div><!--公共遮罩-->


<script type="text/javascript" src="/static/js/zxxFile.js"></script>
<script>
    var params = {
        fileInput: $("#fileImage").get(0),
        upButton: $("#fileSubmit").get(0),
        url: $("#uploadForm").attr("action"),
        filter: function (files) {
            var arrFiles = [];
            for (var i = 0, file; file = files[i]; i++) {
                if (file.type.indexOf("image") == 0) {
                    if (file.size >= 512000) {
                        alert('您这张"' + file.name + '"图片大小过大，应小于500k');
                    } else {
                        arrFiles.push(file);
                    }
                } else {
                    alert('文件"' + file.name + '"不是图片。');
                }
            }
            return arrFiles;
        },
        onSelect: function (files) {
            var html = '', i = 0;
            $("#preview").html('<div class="upload_loading"></div>');
            var funAppendImage = function () {
                file = files[i];
                if (file) {
                    var reader = new FileReader()
                    reader.onload = function (e) {
                        $('.XgfileImg img').attr('src', e.target.result);
                        $('.sp-photo').addClass('cur');
                        html = html + '<div id="uploadList_' + i + '" class="upload_append_list"><p><span>' + file.name + '</span>' +
                            '<a href="javascript:" class="upload_delete" title="删除" data-index="' + i + '">删除</a>' +
                            '</div>';

                        i++;
                        funAppendImage();
                    }
                    reader.readAsDataURL(file);
                } else {
                    $("#preview").html(html);
                    if (html) {
                        //删除方法
                        $(".upload_delete").click(function () {
                            ZXXFILE.funDeleteFile(files[parseInt($(this).attr("data-index"))]);
                            $('.sp-photo').removeClass('cur').html('栏目图片');
                            return false;
                        });
                        //提交按钮显示
                        $("#fileSubmit").show();
                    } else {
                        //提交按钮隐藏
                        $("#fileSubmit").hide();
                    }
                }
            };
            funAppendImage();
        },
        onDelete: function (file) {
            $("#uploadList_" + file.index).fadeOut();
        },
        onDragOver: function () {
            $(this).addClass("upload_drag_hover");
        },
        onDragLeave: function () {
            $(this).removeClass("upload_drag_hover");
        },
        onProgress: function (file, loaded, total) {
            var eleProgress = $("#uploadProgress_" + file.index), percent = (loaded / total * 100).toFixed(2) + '%';
            eleProgress.show().html(percent);
        },
        onSuccess: function (file, response) {
            $("#uploadInf").append("<p>上传成功，图片地址是：" + response + "</p>");
        },
        onFailure: function (file) {
            $("#uploadInf").append("<p>图片" + file.name + "上传失败！</p>");
            $("#uploadImage_" + file.index).css("opacity", 0.2);
        },
        onComplete: function () {
            //提交按钮隐藏
            $("#fileSubmit").hide();
            //file控件value置空
            $("#fileImage").val("");
            $("#uploadInf").append("<p>当前图片全部上传完毕，可继续添加上传。</p>");
        }
    };
    ZXXFILE = $.extend(ZXXFILE, params);
    ZXXFILE.init();

</script>

</body>
</html>