<!DOCTYPE html>
<html class=" js csstransforms3d">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>修改密码</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/page.css">

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script type="text/javascript" src="/static/js/modernizr.js"></script>

</head>

<body style="background: #f6f5fa;">
<!--修改密码-->
<div class="super-content">
    <div class="superCtab">
        <div class="publishArt">
            <h4>修改密码</h4>
            <div class="pubMain">
                <form method="post">
                    {% csrf_token %}
                    <h5 class="pubtitle">旧密码</h5>
                    <div class="pub-txt-bar">
                        <input name='old_password' type="password" class="shuruTxt shuruTxt2">

                    </div>
                    <h5 class="pubtitle">新密码<span>（数字、字母、符号组合，最少6个字符）</span></h5>
                    <div class="pub-txt-bar">
                        <input name='new_password' type="password" class="shuruTxt shuruTxt2">

                    </div>
                    <h5 class="pubtitle">确认密码</h5>
                    <div class="pub-txt-bar">
                        <input name=new_password2 type="password" class="shuruTxt shuruTxt2">


                        <p class="pubtitle" style="color: red">
                            {{ error_message }}
                        </p>


                    </div>
                    <div class="pub-btn">
                        <input type="submit" id="" value="确定" class="saveBtn">
                        <input type="button" id="" value="重置" class="resetBtn">

                    </div>
                </form>
            </div>
        </div>

    </div>
    <!--main-->

</div>


{#<script>#}
{#        function popWindow() {#}
{#            alert("{{ error_message }}");#}
{#        }#}
{#</script>#}

</body>
</html>