
<html class=" js csstransforms3d"><head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>公共侧边栏</title>
	<link rel="stylesheet" href="/static/css/base.css">
	<link rel="stylesheet" href="/static/css/page.css">
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/main.js"></script>
	<script type="text/javascript" src="/static/js/modernizr.js"></script>

</head>

<body>
	<!--side S-->
	<div class="super-side-menu">
		<div class="logo"><a href="/super_index/" target="_parent"><img src="/static/images/blog.png"></a></div>
		
		<div class="side-menu">
			<ul>
				<li class="on"><a href="/python/" target="Mainindex"><i class="ico-1"></i>技术分享</a></li>
				<li><a href="/video/" target="Mainindex"><i class="ico-2"></i>随机视频</a></li>
				<li class=""><a href="/picture_management/" target="Mainindex"><i class="ico-3"></i>相册管理</a></li>


				<li><a href="/muban_Guanli/" target="Mainindex"><i class="ico-6"></i>成语接龙</a></li>
                <li><a href="/message_broad/" target="Mainindex"><i class="ico-5"></i>留  言  板</a></li>
				<li><a href="/system_set/" target="Mainindex"><i class="ico-7"></i>修改资料</a></li>
			</ul>

		</div>
	</div>
	<!--side E-->

<script type="text/javascript">
	$(function(){
		$('.side-menu li').click(function(){
			$(this).addClass('on').siblings().removeClass('on');
		})
	})
</script>

</body></html>